{{#partial  "content"}}
    <h1>{{idea.title}}</h1>
    <h2>{{idea.voteCount}}</h2>
    <u1>
        {{#each idea.voters}}
            <li> {{this}} </li>
        {{/each}}
    </u1>

    <form action="/ideas/{{idea.slug}}/vote" method="post"></form>
    <button>Vote</button>
{{/partial}}

{{#partial "title"}}
    Course Idea - {{idea.title}}
{{/partial }}

{{> base.hbs }}